<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <h1>Vision Verse</h1>
        </div>
       
    </nav>
    <section class="hero">
        <div class="hero-content">
            <div class="left-div">
                <h1>Welcome to Vision Verse </h1>
                <button onclick="location.href='/detect';">Detect Objects</button>
                <button onclick="location.href='/main';">Start Detection <i class="fas fa-arrow-right"></i></button>
            </div>

        </div>
    </section>
</body>
</html>

